<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
  rel="stylesheet"
/>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>About Me</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          I’m a Computer Science student at the University of Cincinnati,
          graduating in May 2026 with a minor in Software Engineering.
        </p>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <mat-chip-set aria-label="Links">
          <a href="https://www.linkedin.com/in/nathan-grilliot/" target="_blank"
            ><mat-chip><i class="bi bi-linkedin"></i> LinkedIn</mat-chip></a
          >
          <a href="https://github.com/grillinr" target="_blank"
            ><mat-chip><i class="bi bi-github"></i> GitHub</mat-chip></a
          >
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [rowspan]="2">
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Languages & Technologies</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table>
          <tbody>
            <tr>
              <td>Development Tools</td>
              <td>
                <a href="https://skillicons.dev"
                  ><img
                    src="https://skillicons.dev/icons?i=neovim,arch,git,aws,docker,md&perline=6"
                    alt="Development Tools"
                /></a>
              </td>
            </tr>
            <tr>
              <td>General Purpose</td>
              <td>
                <a href="https://skillicons.dev"
                  ><img
                    src="https://skillicons.dev/icons?i=py,cpp,c,r&perline=6"
                    alt="General Purpose"
                /></a>
              </td>
            </tr>
            <tr>
              <td>Front-End</td>
              <td>
                <a href="https://skillicons.dev"
                  ><img
                    src="https://skillicons.dev/icons?i=angular,react,vite,ts,js,html,css,bootstrap&perline=6"
                    alt="Front-End"
                /></a>
              </td>
            </tr>
            <tr>
              <td>Back-End</td>
              <td>
                <a href="https://skillicons.dev"
                  ><img
                    src="https://skillicons.dev/icons?i=jquery,php,flask"
                    alt="Back-End"
                /></a>
              </td>
            </tr>
            <tr>
              <td>Database</td>
              <td>
                <a href="https://skillicons.dev"
                  ><img
                    src="https://skillicons.dev/icons?i=sqlite,postgresql,mysql"
                    alt="Database"
                /></a>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>About Me</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          I’m a Computer Science student at the University of Cincinnati,
          graduating in May 2026 with a minor in Software Engineering.
        </p>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <mat-chip-set aria-label="Links">
          <a href="https://www.linkedin.com/in/nathan-grilliot/" target="_blank"
            ><mat-chip><i class="bi bi-linkedin"></i> LinkedIn</mat-chip></a
          >
          <a href="https://github.com/grillinr" target="_blank"
            ><mat-chip><i class="bi bi-github"></i> GitHub</mat-chip></a
          >
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
